.commonInput {
    margin-top: 1rem;
    font-size: 16px;
    padding: 5px;
    display: block;
    width: 300px;
    border: none;
}

.superInput {
    border-bottom: 2px solid #3d3d3f;
}

.commonInput:focus {
    outline: none;
}

.commonInput::placeholder {
    font-size: 12px;
}

.errorInput {
    border-bottom: 2px solid #bb0000;
}

.error {
    font-size: 12px;
    color: #bb0000;
}