.blue {
    border-bottom: 5px solid blue;
}

.column {
    padding: 1rem;
    background-color: #7dce94;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}