.commonButton {
    box-sizing: content-box;
    min-width: 72px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.default {
    background-color: #f6f5f3;
    border: 1px solid #2b9464;
    color: #2b9464;
}

.default:hover {
    background-color: #2b9464;
    color: #f6f5f3;
    transition: all 0.4s ease-in;
}

.default:disabled {
    border: 1px solid #3D3D3F99;
    color: #3D3D3F99;
    pointer-events: none;
}

.red {
    padding: 5px;
    border: 1px solid transparent;
    background-color: #bb0000;
    color: #f6f5f3;
}

.red:hover {
    border: 1px solid #bb0000;
    background-color: #f6f5f3;
    color: #bb0000;
    transition: all 0.4s ease-in;
}